# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore React build files
frontend/build/

# Ignore Node.js build files
backend/build/

# Ignore environment files
backend/.env
frontend/.env

# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/

# Ignore db initialization files
backend/src/database/sso_init.ts\
backend/src/migrations/sso_init.ts
backend/src/migrations/sso_init_PROD.ts

# Ignore uplaoded files
backend/uploads/

# Ignore macOS specific files
.DS_Store