# Ignore node_modules in both frontend and backend
backend/node_modules/
frontend/node_modules/

# Ignore React build files
frontend_build/
react_build/

# Ignore Node.js build files
server_build/
backend/build/
backend/dist/

# Ignore environment files
backend/.env
frontend/.env

# Ignore log files
*.log

# Ignore Visual Studio Code settings
.vscode/